{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load blog_tags %}
{% load thumbnail %}

{% block title %}People{% endblock %}



{% block content %}
    <div class="container">
        <div class="display-5">People</div>
        {% for user in users %}
            <div class="user">
                <a href="{{ user.get_absolute_url }}">
                    {% thumbnail user.profile.photo "180x180" crop="100%" as im %}
                        <img src="{{ im.url }}" alt="">
                    {% endthumbnail %}
                </a>
                <div class="info">
                    <a href="{{ user.get_absolute_url }}" class="card-title">
                        {{ user.get_full_name }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}