{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load blog_tags %}
{% load thumbnail %}

{% block title %}{{ image.title}}{% endblock %}



{% block content %}
    <div class="display-4">{{ image.title}}</div>

    {% thumbnail image.images "300" as im %}
        <a href="{{ image.url }}">
            <img src="{{ im.url }}" class="image-detail">
        </a>
    {% endthumbnail %}


    {% with total_likes=image.user_like.count %}
        <div class="image-info">
            <div>
                <span class="count">
                    {{ total_likes }} like {{ total_likes | pluralize }}
                </span>
            </div>
        {{ image.description | linebreaks }}
        </div>
        <div class="image-likes">
            {% for user in image.users_like.all %}
                <div>
                    <img src="{{ user.profile.photo.url }}" alt="">
                    <p>{{ user.first_name }}</p>
                </div>
            {% endfor %}
        </div>

    {% endwith %}
{% endblock %}